<div class="header">
  <img
     style="width:7%;height:7%;border:none;"
     src="{{url}}/images/header.png" />

  <br />

  <b>srevas.net</b> |
  <a href="http://github.com/kaushiks">github</a> |
  @<a href="http://twitter.com/ksrenev">ksrenev</a> |
  <a href="http://soundcloud.com/kaushiks">soundcloud</a> |
  <a href="http://www.imdb.com/name/nm8582344/">imdb</a> |
  <a href="mailto:{{ site.email }}">contact</a><br />

  <a href="{{url}}/index.html">home</a> |
  <a href="{{url}}/index.html#updates">updates</a> |
  <a href="{{url}}/index.html#talks">recent talks</a> |
  <a href="{{url}}/index.html#projects">projects</a> |
  <a href="{{url}}/index.html#notes">notes</a> |
	<a href="{{url}}/index.html#humor">humor</a> |
  <a href="{{url}}/index.html#elsewhere">elsewhere</a> |
  <a href="{{url}}/index.html#search">search</a>

  <br />

  {% for post in site.categories.pages %}
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.linktitle }}</a>
  {% if forloop.last == false %}
  |
  {% endif %}
  {% endfor %}

</div>

<hr />
